---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/nav.astro'
import Footer from '../components/footer.astro'
import Content from '../components/content.astro'
---

<Layout title = "RGBWheels">
    <NavBar>
    </NavBar>
    <main>
        <Content></Content>
    </main>
<Footer>
</Footer>
</Layout>
